@import 'https://fonts.googleapis.com/css?family=Josefin+Sans';
@import 'https://fonts.googleapis.com/css?family=Poppins';

:root {
    --white-neumorphism: #e9e2e2;
    --white: #FDF6F0;
    --orange: #FF7600;


    --background-theme: var(--white-neumorphism);
    --btn-clear: #ED8E7C;
    --shadow-theme: 20px 20px 60px #c6c0c0,
    -20px -20px 60px #ffffff;
    --shadow-theme-inset: inset 20px 20px 40px #c6c0c0,
    inset -20px -20px 40px #ffffff;
    --mark-color: var(--white);
    --mark-background: var(--orange);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s;
}

/* shortcut */
.d-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.d-flex {
    display: flex;
    justify-content: space-between;
}
/* tutup */

:focus { outline: none }
html, button { font-family: 'Poppins', Arial, Helvetica, sans-serif }
body, .mainBox {
    background-color: var(--background-theme);
}

li { list-style: none; }

.mainBox, .inputStyle, mark, select, .reminder {
    border-radius: 13px;
}

.mainBox, .reminder {
    width: 600px;
    max-width: 95%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: var(--shadow-theme);
}

.inputStyle {
    overflow: hidden;
    box-shadow: inset 10px 10px 20px #c6c0c0,
    inset -10px -10px 20px #ffffff;
    margin: 10px 0;
    border: rgba(0, 0, 0, .1);
    transition: ease-in .3s;
}

.inputStyle:hover {
    box-shadow: var(--shadow-theme-inset);
    transition: ease-out .5s;
}

.equal {
    margin-top: 10px
}

input {
    width: 100%;
    padding: 8px 10px;
    text-align: center;
    background-color: transparent;
    border: none;
}

select {
    width: 100%;
    background-color: var(--background-theme);
    padding: 8px 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: var(--shadow-theme);
}

mark { 
    margin: 0 20px;
    padding: 3px 10px;
    color: var(--mark-color);
    background-color: var(--mark-background);
}

.reminder {
    color: rgba(0, 0, 0, .6);
}
