@import 'https://fonts.googleapis.com/css?family=Josefin+Sans';
@import 'https://fonts.googleapis.com/css?family=Pacifico';

:root {
    --white-neumorphism: #e0e0e0;

    --background-theme: var(--white-neumorphism);
    --btn-clear: #ED8E7C;
    --shadow-theme: 20px 20px 30px #bebebe,
    -10px -10px 30px #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s;
}

/* shortcut */
.d-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* tutup */

:focus { outline: none }
html, button { font-family: 'Josefin Sans', Arial, Helvetica, sans-serif }

body {
    background-color: var(--background-theme);
}

#calc {
    margin: 40px auto;
    width: 500px;
    max-width: 95%;
    height: auto;
    background: var(--background-theme);
    box-shadow: var(--shadow-theme);
    border-radius: 20px 20px 0 0;
}

.bxOutput {
    width: 100%;
    height: 105px;
    padding: 30px;
    overflow-y: auto;
    text-align: right;
}

input {
    width: 100%;
    text-align: right;
    background-color: transparent;
    border: none;
}

#valueEqual { font-family: 'Pacifico'; }

li.d-grid button {
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(128, 128, 128, .3);
    outline: none;
}

.equal { background-color: #CDF0EA }

.clear {
    background-color: var(--btn-clear);
    grid-column: span 2;
}

.right-side {
    background-color: #dddfeb
}

li.d-grid button:hover {
    background-color: #F1ECC3
}