@import 'https://fonts.googleapis.com/css?family=Poppins';

:root {
	/* warna */
	--white: #ffffff;
	--black: #000000;
	--gray-responsif: rgba( 255, 255, 255, 0.12 );
	--whitesmoke: #f5f5f5;

	/* warna juga */
	--color-default: var(--whitesmoke);
	--color-scrollbar: var(--gray-responsif);

	/* background */
	--background-theme: #313444;

	/* user dan bot */
	--color-user-chat: #2a2c3a;
	--color-bot-chat: var(--whitesmoke);
	--background-user-chat: var(--whitesmoke);
	--background-bot-chat: var(--gray-responsif);

	/* shadow */
	--shadow-theme:  5px 5px 10px #2a2c3a,
	-5px -5px 10px #383c4e;
	--shadow-fill-theme:  0 0 3px var(--gray-responsif);
	
}

::-webkit-input-placeholder {color: .711}
::-webkit-scrollbar {background-color: var(--color-scrollbar);width: 10px;}
::-webkit-scrollbar-thumb {
	background-color: var(--color-default);
	border-radius: 23px;
}

html {
	font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
}

body#chatbot {
	padding: 15px 0;
	color: var(--color-default);
	background: var(--background-theme);
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	user-select: none;
}

#chatbot span {
	margin-right: 15px;
	margin-left: 15px;
}

#chatbot .containers {
	display: flex;
  	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
}

#chatbot .containers img {
	border-radius: 50%;
	box-shadow: var(--shadow-theme);
}

.containers .chats {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 900px;
	max-width: 95%;
	height: 85vh;
	overflow: hidden;
	background: transparent;
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.12 );
	box-shadow:  var(--shadow-theme);
}

/* masih rencana */
.containers .chats header {
	display: none; /* display: flex; */
	justify-content: space-between;
}

.containers .chats header > div {
	padding: 8px;
	background-color: black;
}
/* tutup */

.containers .chats .bottomChats {
	padding: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.12 );
}
 
.containers .chats .bottomChats .inputStyle { 
	width: 300px;
	border-radius: 23px;
	overflow: hidden;
	box-shadow: var(--shadow-theme);
}

.containers .chats .bottomChats .inputStyle:hover {
	box-shadow: var(--shadow-fill-theme);
}

.containers .chats .bottomChats .inputStyle input { 
	color: var(--color-default);
	background-color: var(--background-theme);
	width: 100%;
	padding: 8px 10px;
	border: none;
}

.messages {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	height: 90%;
	width: 100%;
	background-color: transparent;
	padding: 15px;
	border-radius: 10px;
}

.messages .user span {
	padding: 5px 8px;
	color: var(--color-user-chat);
	background-color: var(--background-user-chat);
	border-radius: 12px 12px 12px 0;
}

.messages .bot span {
	padding: 5px 8px;
	color: var(--color-bot-chat);
	background-color: var(--background-bot-chat);
	border-radius: 12px 12px 0 12px;
}

#bot,
#intro {
	margin-left: auto;
}

.bot {
	font-family: Consolas, 'Courier New', Menlo, source-code-pro, Monaco,  
	monospace;
}

.avatar {
	height: 25px;
}

.response {
	display: flex;
	align-items: center;
	margin: 1%;
}


/* hape */

@media (max-width: 880px) {
  	.containers {
		flex-direction: column; 
		justify-content: flex-start;
	}
	.containers #pict_bot {display: none;}
	.chat {
		width: 75vw;
		margin: 10vw;
	}
}
